@model GalleryIndexViewModel

@{
	ViewData["Title"] = "Gallery";
}

<section id="gallery">
	<div id="title" class="mx-auto text-center">
		<h1>Gallery</h1>
	</div>
	<div class="row">
		
	</div>
</section>

