@{
	ViewData["Title"] = "Home Page";
}

<section id="content" class="col-12">
	<div class="text-center">
		<h1 class="display-4">Welcome</h1>
		<p>Gallery application based on ASP.Net Core 3</p>
		<p>Project made by <a href="https://github.com/leodeg">Leo Deg</a></p>
	</div>
</section>

@await Component.InvokeAsync("AlbumsCloud")

