@model IEnumerable<Gallery.Data.Models.Tag>

<div class="card mt-0 mb-3">
	<h5 class="text-center py-3">Tags Cloud</h5>
	<div class="container">
		<ul class="list-inline">
			<li class="list-inline-item">
				<a asp-action="Index" asp-route-tag="" class="text-dark"><span>Show All</span></a>
			</li>
			@foreach (var tag in Model)
			{
				<li class="list-inline-item">
					<a asp-action="Index" asp-route-tag="@tag.Title" class="text-dark"><span>@tag.Title</span> </a>
				</li>
			}
		</ul>
	</div>
</div>